check process wildfly10 with pidfile /opt/cloudhost/wildfly10/standalone/log/jboss-eap.pid
        start program = "/usr/bin/systemctl start wildfly10.service"
        stop program = "/usr/bin/systemctl stop wildfly10.service"
