check process jboss-eap7.3 with pidfile /opt/cloudhost/jboss7.3/standalone/log/jboss-eap7.3.pid
        start program = "/usr/bin/systemctl start jboss-eap7.3.service"
        stop program = "/usr/bin/systemctl stop jboss-eap7.3.service"
