[Delivery-SharedHosting-SuSE-{{ansible_distribution_major_version}}-x86_64]
name=Delivery-SharedHosting-SuSE-{{ansible_distribution_major_version}}-x86_64
baseurl=http://m4t0203.houston.softwaregrp.net/LinuxCOE/Delivery/SharedHosting/current/yum/SuSE/SLES{{ansible_distribution_major_version}}/x86_64
enabled=1
gpgcheck=0
