check process jboss-eap with pidfile /opt/cloudhost/jboss/standalone/log/jboss-eap.pid
        start program = "/usr/bin/systemctl start jboss-eap.service"
        stop program = "/usr/bin/systemctl stop jboss-eap.service"
