{{apache_logs_dir}}/*log {
    daily
    rotate 90
    compress
    size=+4096k
    notifempty
    missingok
    notifempty
    sharedscripts
    delaycompress
    postrotate
     systemctl reload apache2.service
    endscript
}
