[Delivery-SharedHosting-RedHat-{{ansible_distribution_major_version}}.0Server-x86_64]
name=Delivery-SharedHosting-RedHat-{{ansible_distribution_major_version}}.0Server-x86_64
baseurl=http://g7t00032s.houston.hpicorp.net/LinuxCOE/Delivery/Americas//SharedHosting/3.1/yum/RedHat/{{ansible_distribution_major_version}}.0Server/x86_64
enabled=1
gpgcheck=0
