*****************************************************************
*                                                               *
* This is a private system; explicit authorization from the     *
* system owner is required for access or use.                   *
*                                                               *
* Unauthorized access or use may result in severe civil and/or  *
* criminal liability including without limitation under 18 USC  *
* Sections 1030 et seq.                                         *
*                                                               *
* All rights whatsoever are reserved.                           *
*                                                               *
*****************************************************************
* Run "sudo -l" to see a list of available commands

!!! Reminder: Platform instance may be supervized by Monit !!!
