check process httpd with pidfile /var/run/httpd/httpd.pid
	start program = "/usr/bin/systemctl start httpd"
	stop program = "/usr/bin/systemctl stop httpd"

	# Alert recipients
	#alert homer.simpson@hp.com
	#alert marge.simpson@hp.com

	# Resource test examples
	#if totalcpu > 60% for 5 cycles then alert
	#if totalcpu > 80% for 10 cycles then restart
	#if totalmem > 200.0 MB for 10 cycles then restart
	#if children > 250 for 10 cycles then restart

	# Simple port check examples
        #if failed host {{ansible_fqdn}} port {{http_port}} then restart
        #if failed host {{ansible_fqdn}} port {{https_port}} type TCPSSL then restart

	# HTTP request check example
        #if failed host {{ansible_fqdn}} port {{http_port}} proto http
        #       and request '/DO_NOT_REMOVE/health_check.html'
        #       with timeout 5 seconds for 3 cycles
        #then alert
